<h1>All Vanpools:</h1>

<table class="table table-striped col-md-12">
  <tbody>
  <% @vanpools.each do |v| %>
    <tr>
      <td>
        <%= v.serializable_hash%>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>