<%= button_to "List All Vanpools", vanpools_index_path, :method => :get%>
<h1>Vanpool Service System Home Page</h1>
<p>Welcome to the homepage of our amazing new web based Vanpool service system</p>
<p><strong>Create an account using the button on the top and let your journey begin</strong></p>
