<h1>Vanpool Service System Home Page</h1>

<p>Some logo</p>
<p>Login Screen</p>
<p>Username/Email input</p>
<p>Password input</p>
<p>Login Button</p>
<p>Create New Account Button</p>
<p>Functions like lost password</p>

<p></br><strong>Location of this page: </strong><em>app/views/pages/home.html.erb</em></p>
