# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\University Of Iowa\Fall 2020\CS 5800\Team Project\SE_Ruby_Project\VanpoolServiceSystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
